.about-container {
  padding: 30px 20%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.about-title {
  padding-bottom: 50px;
}

.about-name {
  font-size: 40px;
  margin-bottom: 4px;
}

.about-name b {
  color: #b509ac;
}

.about-designation {
  font-size: 15px;
  color: #555;
}

.about-body {
  display: flex;
}

.about-text {
  flex-shrink: 0;
  flex-basis: 70%;
  margin-right: 20px;
  line-height: 25px;
  font-weight: 300;
}
.about-text p {
  margin-top: 0;
}

.about-image {
  flex-shrink: 0;
  flex-basis: 30%;
}

.about-image img {
  width: 100%;
  border-radius: 4px;
}
